.SideDrawer {
    width: 200px;
    background-color: #2d323e;
    height: 100%;
}

.Header {
    background-color: #1e2129;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}