.Toolbar {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
    /* border-bottom: 1px solid #d3d3d3; */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.MenuIcon button {
    display: block;
}

.LogoText {
    margin-right: 35px;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    font-family: -webkit-pictograph
}

.ShoppingCartIcon {
    width: 2rem!important;
    height: 2rem!important;
    /* color: white */
}

.Spacer {
    flex: 1 1 auto;
}

@media (min-width: 1200px) {
    .MenuIcon button {
        display: none;
    }
}