.PagingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px
}

.Paging {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.PagingValue {
    margin: 0 10px;
}

.PagingSelection button {
    padding: 0;
}