.Container {
    padding: 1rem 2rem;
    background-color: white;
}
.Form {
    padding: 0 12px;
}

.ImageContainer {
    display: flex;
    place-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 2px 3px black;
}

.TableWrapper {
    width: 100%;
    margin: 0 0 20px
}
