.AuthFormWrapper {
    display: flex;
    place-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.AuthForm {
    background: #fff;
    width: 384px;
    max-width: 384px;
    padding: 32px;
    text-align: center;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

.ForgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.Subtitle {
    margin-bottom: 16px;
}

.Subtitle > a,
.ForgotPassword > a {
    color: #039be5;
}

.Subtitle > a:hover,
.ForgotPassword > a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.SubmitButton {
    margin-top: 16px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}