.Container {
  margin: 1rem;
  padding: 15px;
  background-color: white;
}

.HeaderWrapper {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.HeaderTitle {
  font-size: 30px;
  font-weight: bolder;
}

.Spacer {
  flex-grow: 1
}

.Actions {
  display: flex;
}

.Actions button {
  margin-right: 10px;
}

@media (max-width: 750px) {
  .HeaderTitle {
      font-size: 24px
  }
}

@media (max-width: 500px) {
  .HeaderTitle {
      font-size: 15px;
  }
}