.Wrapper {
    display: flex;
    height: 100vh;
}

.SideDrawer {
    width: 200px;
    display: none;
}

.RightWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.Content {
    flex-grow: 1;
}


@media (min-width: 1200px) {
    .SideDrawer {
        display: block
    }
}